body {
  padding-bottom: 20px;
}

.mui-appbar {
  background-color: #2196F3;
  padding: 10px;
}

.section {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

a:link {
  color: white;
}